* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
table,th,td{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
